pki:
  ca: /etc/nebula/ca.crt
  cert: /etc/nebula/host.crt
  key: /etc/nebula/host.key

static_host_map:
{% if not nebula_am_lighthouse | default('false') | bool %}
{% for host in groups['lighthouses'] %}
  "{{ hostvars[host]['nebula_ip'] }}": ["{{ hostvars[host]['inventory_hostname'] }}:4242"]
{% endfor %}
{% endif %}

lighthouse:
  am_lighthouse: {{ nebula_am_lighthouse | default(false) | bool | string }}
{% if not nebula_am_lighthouse | default(false) | bool %}
  interval: 60
  hosts:
{% for host in groups['lighthouses'] %}
    - "{{ hostvars[host]['nebula_ip'] }}"
{% endfor %}
{% endif %}

{% if nebula_port is defined or nebula_host is defined %}
listen:
{% if nebula_host is defined %}
  host: {{ nebula_host }}{% endif %}
{% if nebula_port is defined %}
  port: {{ nebula_port }}{% endif %}
{% endif %}

{% if nebula_preferred_ranges | default([]) | length > 0 and nebula_preferred_ranges | default('') is not string and nebula_preferred_ranges | default('') is not mapping and nebula_preferred_ranges | default([]) is iterable %}
preferred_ranges:
{% for item in nebula_preferred_ranges | default([]) %}
  - "{{ item }}"
{% endfor %}
{% endif %}

punchy:
  punch: {{ nebula_punch | default('true') | bool | string | lower }}
  respond: {{ nebula_punch_respond | default('true') | bool | string | lower }}
  delay: {{ nebula_punch_delay | default('1s') }}

{% if nebula_ssh_users | default([]) | length > 0 %}sshd:
  enabled: true
  listen: {{ nebula_ssh_listen_host | default('127.0.0.1') }}:{{ nebula_ssh_listen_port | default('2222') }}
  host_key: /etc/ssh/ssh_host_ed25519_key
  authorized_users:
{% for nebula_ssh_user in nebula_ssh_users | default([]) %}
    - user: "{{ nebula_ssh_user.username }}"
      keys: {% if nebula_ssh_user.keys | default('') | length == 0 %}[]{% else %}

{% for nebula_key in nebula_ssh_user.keys | default([]) %}
        - "{{ nebula_key }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

tun:
  disabled: {{ nebula_tun_disabled | default(false) | bool | string | lower }}
  dev: {{ nebula_tun_name | default('nebula1') }}
  drop_local_broadcast: {{ nebula_drop_local_broadcast | default(true) | bool | string | lower }}
  drop_multicast: {{ nebula_drop_local_multicast | default(true) | bool | string | lower }}

logging:
  level: {{ nebula_logging_level | default('info') }}
  format: {{ nebula_logging_format | default('text') }}

firewall:
  outbound:
{% for rule in nebula_outbound | default([{'port': 'any', 'proto': 'any', 'host': 'any'}]) %}
  - {{ rule }}
{% endfor %}

  inbound:
{% for rule in nebula_inbound | default([{'port': 'any', 'proto': 'any', 'host': 'any'}]) %}
  - {{ rule }}
{% endfor %}